<%= render "layouts/nav_header" %>
<div class="col-sm-4 cta cta-tall">
  <h2>Golf</h2>
  <br>
  <p>FIND A COURSE AND GO PLAY IT!</p>
  <%= link_to 'Courses', courses_path, :class => "btn btn-default" %>
</div>
<div class="col-sm-4 cta">
  <h2>Share</h2>
  <br>
  <p>SHARE YOUR GOLFING EXPERIENCE!</p>
  <%= link_to 'Create', courses_path, :class => "btn btn-default" %>
</div>
<div class="col-sm-4 cta cta-tall">
  <h2>Review</h2>
  <br>
  <p>REVIEW COURSES YOU'VE PLAYED!</p>
  <%= link_to 'Courses', courses_path, :class => "btn btn-default" %>
</div>
<section>

</section>
