
body {
  background: url('white_carbonfiber.png');
}
.nav {
  border-top: 1px solid #F7F9F9;
  border-bottom: 1px solid #F7F9F9;
  position: relative;
  top: 157%;
  background: rgba(0,0,0,.6);
  text-align: center;
  p {
    color: #fff;
    font-size: 3em;
    margin: 0;
    border-bottom: 1px solid #fff;
  }
  a {
    text-decoration: none;
    line-height: 28px;
  }
}
#nav-container {
  width: 100%;
  height: 29px;
  margin-bottom: -5px;
  #logout-btn {
    color:red;
    position: relative;
    right: 10px;
  }
  .nav-link {
    color: #B9BABB;
    &:hover {
      color: #fff;
    }
  }
}
.nav-right {
  width: 30%;
}
.nav-right-inner {
  width: 33.3%;
  .nav-link {
    color: #fff !important;
  }
}
.signin-up:hover {
  background: rgba(255, 0, 0, 0.62);
  transition: all 200ms ease-in-out;
}
.signin-up {
  text-align: left;
}
.nav-left {
  width: 70%;
}
.nav-left-inner {
  width: 33.3%;
  &:hover {
    background: rgba(134, 130, 126, 0.38);
    transition: all 200ms ease-in-out;
  }
  &:hover .nav-link {
    color: #fff !important;
    transition: all 200ms ease-in-out;
  }
}
#cta-container {
  position: relative;
  height: 250px;
}
.cta {
  height: 200px;
  background: rgba(4, 4, 4, 0.52);
  margin: 0 1.66%;
  padding: 5px;
  position: relative;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #000;
  -webkit-box-shadow: 0px 4px 7px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 7px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 7px -4px rgba(0, 0, 0, 0.75);
  p {
    font-size: 1.5em;
    font-weight: 100;
    color: #B59265;
    text-shadow: 1px 0px #fff;
  }
  h2 {
    font-size: 2.7em;
    color: #fff;
    margin: 2px;
  }
}
.cta-tall {
  position: relative;
  top: 25px;
  transition: all 200ms ease-in-out;
}
.col-sm-4 {
  width: 30% !important;
}
.alert {
  margin: 0;
  border-radius: 0px !important;
}
.close {
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 27px;
}

.btn-default {
  color: #BB3F15;
  background-color: rgba(255, 255, 255, 0.65);
  border-color: #fff;
  max-width: 200px;
  -webkit-box-shadow: 0px 4px 15px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 15px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 15px -4px rgba(0, 0, 0, 0.75);
  font-size: 1.3em;x-shadow: 0px 4px 40px -4px rgba(0,0,0,0.75);
}
#index-container {
  position: relative;
  top: -152px;
}
#description-container {
  width: 95%;
  margin: auto;
  position: relative;
  font-size: 2.2em;
}
#drop-caps {
  font-size: 286%;
  margin: -26px 8px -18px;
  float: left;
  font-style: italic;
  color: #BB3F15;
}
///////////////////// RESPONSIVE ////////////////////////
////////////////////////////////////////////////////////

@media (max-width: 860px) {
  #description-container {
    font-size: 2em;
  }
  #drop-caps {
    font-size: 286%;
    margin: -21px 9px -18px;
  }
}
@media (max-width: 767px) {
  .cta {
    margin: 1.66%;
    left: 50%;
    margin-left: -35%;
  }
  #cta-container {
    overflow: auto;
    height: auto;
  }
  .col-sm-4 {
    width: 70% !important;
  }
  .cta-tall {
    height: 200px;
    position: relative;
    top: 0;
  }
  #description-container {
    font-size: 1.8em;
  }
  #drop-caps {
    font-size: 286%;
    margin: -20px 10px -18px;
  }
}
@media (max-width: 630px) {
  #illinois {
    max-height: 100px;
    top: -32px;
  }
  #banner-top {
    height: 20px;
    top: 20px;
  }
  #banner-middle {
    height: 38px;
    position: relative;
    top: 24px;
  }
  #banner-bottom {
    height: 20px;
    top: 28px;
  }
  .nav p {
    font-size: 2.3em;
  }
  #header-container {
    height: 413px;
  }
  #nav-container a {
    font-size: .9em;
  }
  .nav-right {
    width: 30%;
    font-size: .6em;
    line-height: 25px;
    padding-left: 5px;
  }
  .cta p {
    font-size: 1.4em;
  }
  #description-container {
    font-size: 1.4em;
  }
  #drop-caps {
    font-size: 286%;
    margin: -16px 9px -18px;
  }
  #logout-btn {
    font-size: 1.2em !important;
  }
  #logout-btn {
    font-size: 1em !important;
  }
  .signin-up {
    position: relative;
    right: 10px;
  }
}
@media (max-width: 376px) {
  .col-sm-4 {
    width: 92% !important;
  }
  .cta {
    margin-left: -46%;
  }
}
@media (max-width: 290px) {
  .nav p {
    font-size: 1.4em;
  }
  #illinois {
    max-height: 67px;
    top: -21px;
  }
  #banner-top {
    height: 15px;
    top: 24px;
  }
  #banner-middle {
    height: 23px;
    position: relative;
    top: 18px;
  }
  #banner-bottom {
    height: 15px;
    top: 22px;
  }
  .nav p {
    font-size: 1.5em;
  }
  #logout-btn {
    font-size: .8em !important;
  }
}